<h1 mat-dialog-title> Add New Patient:</h1>
<div mat-dialog-content>
  <form [formGroup]="form" class="example-form" style="height: 400px;">
    <mat-form-field style="width:50%">
        <div style="color:red;" *ngIf="form.get('firstname').hasError('pattern')">Detected some invalid characters</div>
      <input formControlName="firstname" name="firstName" matInput placeholder="First Name"> <br>
    </mat-form-field>
    <mat-form-field style="width:50%">
        <div style="color:red;" *ngIf="form.get('lastname').hasError('pattern')">Detected some invalid characters</div>
      <input formControlName="lastname" name="lastName" matInput placeholder="Last Name">
    </mat-form-field>

    <mat-checkbox [(ngModel)]="checked" formControlName="examined" name="examined" labelPosition="before">Check if patient has been examined:</mat-checkbox>
    <mat-form-field style="width:100%" *ngIf="checked">
        <input matInput formControlName="examinedOn" [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    <mat-form-field style="width:100%">
      <input formControlName="contact" name="contact" matInput placeholder="contact">
    </mat-form-field>
    <mat-form-field style="width:100%;">
      <input formControlName="notes" name="notes" matInput placeholder="Any Additional Notes?">
    </mat-form-field>
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Cancel</button>
        <button [disabled]="!form.valid" mat-button (click)="onSubmit(form.value)" [mat-dialog-close]>Submit</button>
      </div>
  </form>
</div>
