<img class="top" src="../../assets/images/nyancat.gif" alt="Photo of nyancat">
<mat-grid-list cols="2">
        <mat-grid-tile>
                <div class='container'>
                        <h3>Usage: You can use this doctor-app to track your patient's data using a real time database.</h3>
                        <h3>Technologies:
                            <li>Angular for a front-end: Angular material library</li>
                            <li>Google Firebase for back-end: firebase hosting and cloud firestore</li>
                        </h3>
                        <h3>Repository: <a href="https://github.com/Marwan01/doctor-app">here</a></h3>
                        <h3>Project Repo: <a href="https://github.com/Marwan01/doctor-app/projects/1"> here</a></h3>
                        <h4>Author: Kannan Ganesan</h4>
                        </div>
        </mat-grid-tile>
        <mat-grid-tile>
                <img matTooltip="Click to see my true identity!" class="pic" [src]="link" (click)="ImageClick()" alt="Photo of kan">

        </mat-grid-tile>
      </mat-grid-list>


