.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }



  .pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 200px;
    max-height: 200px;
  }

  .top {
    width: 100%;
  }